# Ignore specific files
EgoDex- Learning Dexterous Manipulation from Large-Scale Egocentric Video.pdf
example_0.hdf5
example_0.mp4
explore_data.py
part1_extra_a.zip
test_extra.zip

# Ignore everything in the /test/ folder
/test/
/test1/
/logs/

# Ignore macOS system files
.DS_Store

# Ignore IDE project files
.idea/

# PY cache
__pycache__/
*.pyc



