# Ignore specific files
explore_data.py

# Ignore everything in folders
/checkpoints/
/results/
/decord/
/EK_data/

# Clone from https://github.com/LAHAproject/InAViT.git
/InAViT/
/InAViT_amended/

# Ignore macOS system files
.DS_Store

# Ignore IDE project files
.idea/

# PY cache
__pycache__/
*.pyc



