# Ignore specific files
extract_pkl.py
create_test_label.py
convert_json.py
EPIC_100_test_labels.csv
EPIC_100_test_segments.csv
last_narration_per_video.csv
last_narration_per_video.xlsx
EPIC_100_validation.pkl

# Ignore everything in folders
/checkpoints/
/results/
/decord/
/decord_old/
/EK_data/
/archived/

# Clone from https://github.com/LAHAproject/InAViT.git
/InAViT/
/InAViT_amended/

# Ignore macOS system files
.DS_Store

# Ignore IDE project files
.idea/

# PY cache
__pycache__/
*.pyc



