# Core ML frameworks
torch>=2.0.1
torchvision>=0.11

# Video and image processing
opencv-python==4.10.0.84
numpy==1.26.4
Pillow
argparse
detectron2  # python -m pip install 'git+https://github.com/facebookresearch/detectron2.git'

# InAViT / SlowFast dependencies
fvcore
simplejson
einops
timm
psutil
tensorboard
pandas
ffmpeg-python
decord # install via github repo
av # conda install -c conda-forge av
filterpy
h5py
imgaug
iopath
fvcore
einops
scipy

# Utility and progress tools
tqdm

# Evaluation and visualization
scikit-learn
matplotlib
seaborn

# Optional: YAML parsing
PyYAML
